// Place all the styles related to the Dojos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
thead, th{
  width: 20%;
  border: 1px solid black;
}

.create-form{
  width: 200px;
display: block;

}
